.canvas {
  width: 70%;
  display: flex;
  justify-content: center;

  &-editor {
    width: 60vw;
    max-width: 70vh;
    height: 60vw;
    max-height: 70vh;
    display: grid;
    margin: 0 auto;
    gap: 0;
  }
}

@media screen and (max-width: 870px) {
  .canvas-container {
    .canvas {
      max-width: 50vh;
      max-height: 50vh;
    }
  }
}