.color-option {
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  &:checked {
    border: 3px solid #FFF;
  }
}
