.header {
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
  color: #FFF;
  font-family: "Kode Mono", monospace;
  font-size: 24px;
  padding: 15px;

  img {
    margin-right: 30px;
  }
}